language: php

sudo: false

notifications:
  email: false

addons:
  firefox: "47.0.1"
  postgresql: "9.3"

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm

php:
 - 5.6
 - 7.0
 - 7.1

env:
  - MOODLE_BRANCH=MOODLE_31_STABLE DB=mysqli
  - MOODLE_BRANCH=MOODLE_31_STABLE DB=pgsql
  - MOODLE_BRANCH=MOODLE_32_STABLE DB=pgsql
  - MOODLE_BRANCH=MOODLE_33_STABLE DB=pgsql

matrix:
  include:
    - php: 7.1
      env: MOODLE_BRANCH=master DB=mysqli
    - php: 7.1
      env: MOODLE_BRANCH=master DB=pgsql

before_install:
  - phpenv config-rm xdebug.ini
  - cd ../..
  - composer create-project -n --no-dev --prefer-dist moodlerooms/moodle-plugin-ci ci ^2
  - export PATH="$(cd ci/bin; pwd):$(cd ci/vendor/bin; pwd):$PATH"

install:
  - moodle-plugin-ci install

script:
  - moodle-plugin-ci phplint
  - moodle-plugin-ci phpcpd
  - moodle-plugin-ci phpmd
  - moodle-plugin-ci codechecker
  - moodle-plugin-ci validate
  - moodle-plugin-ci savepoints
  - moodle-plugin-ci mustache
  - moodle-plugin-ci csslint
  - moodle-plugin-ci shifter
  - moodle-plugin-ci jshint
  - moodle-plugin-ci phpunit
  - moodle-plugin-ci behat