{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_studentquiz/questionbank_comment_badge

    Template for rendering comment column in question bank.

    Example context (json):
    {
        "numberofcomments": 5,
        "sronlytext": "Public comments (including unread)",
        "unread": false,
        "tooltiptext": "Tooltip text",
        "class": "public-comment"
    }
}}

<span
    class="{{class}} badge {{#unread}}badge-primary{{/unread}}{{^unread}}badge-secondary{{/unread}}"
    title="{{tooltiptext}}"
>
    {{numberofcomments}}
    <span class="sr-only">{{sronlytext}}</span>
</span>
